

  <mat-form-field appearance="outline">
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher...">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="idProduct">
      <mat-header-cell *matHeaderCellDef>Id.</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.idProduct}}
      </mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Libellé</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.name}}
      </mat-cell>
    </ng-container>

       <!-- description Column -->
       <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="description" *matCellDef="let element">
          {{element.description}}
        </mat-cell>
      </ng-container>

       <!-- price Column -->
       <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.price}} €
        </mat-cell>
      </ng-container>

        <!-- stock Column -->
        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.price}}
          </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" sticky:true></mat-header-row>
    <mat-row *matRowDef="let attempt; columns: displayedColumns;"
             class="contact"
             matRipple
    >
    </mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
