/* For use in src/lib/core/theming/_palette.scss */
$asape-primary: (
    50 : #a0c8e1,
    100 : #66a6ce,
    200 : #3d8dc0,
    300 : #2c6589,
    400 : #245472,
    500 : #1d435b,
    600 : #163244,
    700 : #0e212d,
    800 : #071015,
    900 : #000000,
    A100 : #84c8f3,
    A200 : #289ee9,
    A400 : #1c628e,
    A700 : #205272,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$asape-accent: (
    50 : #def7f5,
    100 : #a0e9e2,
    200 : #72dfd4,
    300 : #38d1c3,
    400 : #2cbfb1,
    500 : #26a69a,
    600 : #208d83,
    700 : #1b746c,
    800 : #155b55,
    900 : #0f423e,
    A100 : #cefdf9,
    A200 : #6cf9ec,
    A400 : #1ce3d0,
    A700 : #25c0b2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$asape-warn: (
    50 : #ffffff,
    100 : #f9babb,
    200 : #f48788,
    300 : #ee4548,
    400 : #eb2a2c,
    500 : #e11518,
    600 : #c51215,
    700 : #a91012,
    800 : #8d0d0f,
    900 : #710b0c,
    A100 : #fff6f6,
    A200 : #ff9092,
    A400 : #fd2c2f,
    A700 : #f11f22,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

